@{
    EFA_DEMO.Models.UserView onlineUser = EFA_DEMO.Models.OnlineUsers.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="@Url.Content(@"~/Images/Post-it.png")" style="height: 32px; margin: 5px;">
                            </td>
                            <td>
                                @Html.ActionLink("Post-it", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand applicationName" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (onlineUser != null)
                    {

                        <li>@Helper.GlyphiconAction("Create", "Posts", "glyphicon-plus", "Ajouter un post...")</li>
                        <li>@Helper.GlyphiconAction("Tags", "Posts", "glyphicon-tags", "Rechercher par étiquettes...")</li>

                        <li>@Helper.AvatarProfilLink(onlineUser)</li>

                        if (onlineUser.Admin)
                        {
                            <li>@Helper.GlyphiconAction("AllUsersLogs", "Users", "glyphicon-calendar", "Log des usagers")</li>
                        }
                        else
                        {
                            <li>@Helper.GlyphiconAction("UserLogs", "Users", "glyphicon-calendar", "Log des usagers")</li>
                        }
                        <li>@Helper.GlyphiconAction("OnlineUsersList", "Users", "glyphicon-user", "Usagers en ligne...")</li>
                        <li>@Helper.GlyphiconAction("Logout", "Users", "glyphicon-log-out", "Déconnexion")</li>
                    }
                    else { }

                    <li>@Helper.GlyphiconAction("About", "Users", "glyphicon-question-sign", "À propos...")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
